version: 2.1

orbs:
  node: circleci/node@5.0.0
  browser-tools: circleci/browser-tools@1.2.4
  heroku: circleci/heroku@1.2.6

workflows:
  main:
    jobs:
      - tests
      - lighthouse-mobile
      - lighthouse-desktop
      - lighthouse-no-emulation-no-throttle
      - create-example-artifact
      - heroku/deploy-via-git:
          requires:
            - tests
            - lighthouse-mobile
            - lighthouse-desktop
            - lighthouse-no-emulation-no-throttle
          filters:
            branches:
              only: master

jobs:
  tests:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - node/install:
          install-yarn: true
          node-version: '16.13'
      - run: yarn install
      - run: yarn test
  lighthouse-mobile:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - node/install:
          install-yarn: true
          node-version: '16.13'
      - run: yarn install
      - run: yarn global add @lhci/cli@0.4.x
      - run: yarn build && yarn lhc-mobile
  lighthouse-desktop:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - node/install:
          install-yarn: true
          node-version: '16.13'
      - run: yarn install
      - run: yarn global add @lhci/cli@0.4.x
      - run: yarn build && yarn lhc-desktop
      - run: cat ./.lighthouseci/lighthouse-desktop-report
  lighthouse-no-emulation-no-throttle:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - node/install:
          install-yarn: true
          node-version: '16.13'
      - run: yarn install
      - run: yarn global add @lhci/cli@0.4.x
      - run: yarn build && yarn lhc-no-emulation
  create-example-artifact:
    working_directory: /tmp
    steps:
        - run:
          name: Creating Example Artifact
          command: |
            echo "my artifact file" > /tmp/artifact-1;
            mkdir /tmp/artifacts;
            echo "my artifact files in a dir" > /tmp/artifacts/artifact-2;

            - store_artifacts:
                path: /tmp/artifact-1
                destination: artifact-file

            - store_artifacts:
                path: /tmp/artifacts
